

<!--<a class="navbar-brand" href="#">AngJobs</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a class="nav-link" href="#">Home <span class="sr-only" [routerLink]='["/"]' (click)='collapse()'>(current)</span></a>
    </li>
    <li class="nav-item" [routerLinkActive]='["active"]'>
      <a class="nav-link" href="#" (click)="onSelect('job')">Jobs</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["active"]'>
      <a class="nav-link" href="#" (click)="onSelect('recommendation-list')">Recommendation List</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>


  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>-->

