<div class="row">
  <div class="col-sm-12">


    <div class="list-group list-group-flush">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </a>

      <app-job-item [job]="jobEl" *ngFor="let jobEl of jobs" (jobSelected)="onJobSelected(jobEl)"></app-job-item>

    </div>
     
  </div>
</div>

