@{
    Layout = "~/Areas/HelpPage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AngJobs <small class="pull-right" style="vertical-align:top; font-size:10px;"> &nbsp; beta</small></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="activePath == '/' ? 'active': ''">
                        <a ui-sref="jobs.jobType({jobType:'inbox'})">Developers</a>
                    </li>
                    <li ng-class="{ active: $state.includes('developer')}">
                        <a ui-sref="jobs.jobType({jobType:'inbox'})">My applications</a>
                    </li>
                    <li ng-class="{ active: $state.includes('employer')}">
                        <a href="/#!/employer">Employers</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-form-sm navbar-left searchbar" role="search" ng-show="$state.includes('jobs')">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm bg-light no-border rounded padder" ng-model="query" placeholder="Search jobs..." />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ><a href="/Help">API Page</a></li>
                            <li class="divider"></li>
                            <li><a href="/#!/about">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>

    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1">
            <div class="app-body row">
                <div class="col-md-1 col-xs-1 col left-menu  hidden-xs">
                    <div class="wrapper left-corner-action">
                        <a class="btn btn-sm btn-danger font-bold" href="/#!/postjob">Post a job</a>
                    </div>

                </div>

                <div class="col-md-10 col col-middle">
                    <div class="wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row site-footer wrapper bg-light">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                © 2014 AngJobs.com
            </footer>
        </div>
    </div>
</div>
