<ng-container *ngIf="(job$ | async) as details">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h4 class="h6">
            {{ details | whoCommentSubject }}
            <br /><small class="text-muted">by {{details.by}}</small>
        </h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
            </div>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button> -->
        </div>


    </div>

    <div class="container">
        <section [innerHTML]="details.text"></section>
        <hr>
         <back-button></back-button>
    </div>

</ng-container>