@using Angjobs.Models
<div class="jobs-list">
  
    <ul class="list-group list-group-lg no-radius">
        @foreach (JobPostViewModel job in Model)
        {
            <li class="list-group-item clearfix" >
                <a class="hidden-xs pull-left thumb" href="/#!/jobdetails/@job.id">
                    <span style="font-size:30px;">J</span>
                </a>
                <div class="pull-right text-sm text-muted">
                    <span class="hidden-xs">@(job.salaryMin >0 ? "£"+job.salaryMin : string.Empty ) @(!string.IsNullOrEmpty(job.salaryType) ? "per "+job.salaryType : "")</span>
                </div>
                <div class="clear short-desc" ng-click="goTo('/jobdetails/' + job.id )">
                    <div>
                        <a class="text-md" href="/#!/jobdetails/@job.id">@job.jobTitle</a>
                    </div>
                    <div class="text-2-l">
                        @job.shortDescription
                    </div>
                </div>
            </li>
        }
        
    </ul>
</div>