<form class="form-horizontal" role="form" (submit)="onSubmit($event)">
	<div class="form-group">
		<label for="email" class="col-md-1 control-label pull-left">From:</label>
		<div class="col-md-7">
			<input class="input input-sm form-control application-email" type="email" id="email" placeholder="your email address"  required="" (keypress)="dontSubmit($event, focusable)">
			<div class="add-cv">
				+<a class="button btn-link" href="javascript:void(0);">Attach CV</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<textarea #focusable class="form-control application-msg" style="min-height:100px">Hi Recruiter 
			I would like to apply for this role.
	</textarea>
	</div>
	<div class="panel-footer">
		
		<button class="btn btn-info font-bold" type="submit" title="apply now for this job role">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
			Apply Now</button>
			
			<button href="#" class="pull-right btn btn-default" (click)="discardMsg()" type="button" title="discard job application message">
			<span class="glyphicon glyphicon-trash"></span>
			</button>

		
	</div>
</form>