.widget {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
}
.widget ul.list-group:last-child li {
  border-bottom: 0px;
}

.cards {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  margin: 0em 0em 1em 0em;
}
.cards li {
  margin-bottom: 2em 0em;
  padding: 1em;
}
.cards li:first-child {
  border-top: none;
}
.cards li.more {
  text-align: center;
  padding: .5em 0em;
}
.cards.not-bottom li:last-child {
  margin-bottom: 0em;
}
.cards.no-sides li {
  border-left-width: 0px;
  border-right-width: 0px;
}

.cards.list-group li {
  border-left-width: 0px;
  border-right-width: 0px;
}
.cards.list {
  line-height: 1em;
}
.cards.list li {
  padding: 0px;
}
