<ul class="pagination justify-content-end">

  <ng-container *ngIf="page == undefined || page <= pagerSizeMax else pagerOne">

    <li class="page-item disabled">
     
      <a class="page-link"  tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'active': page != undefined && page == i+1}"
      *ngFor="let item of pagerSizeMaxArray; let i = index">
      <a class="page-link" [routerLink]="['/inbox', i+1]">{{i+1}}</a>

    </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/inbox', page+1]">Next</a>
    </li>
  </ng-container>

  <ng-template #pagerOne>
    <li class="page-item">
     
      <a class="page-link" [routerLink]="['/inbox', page - 1]" tabindex="-1">Previous</a>
    </li>

    <li class="page-item" 
      *ngFor="let item of firstHalf; let i = index;">
      <a class="page-link" [routerLink]="['/inbox', page - firstHalf.length + i]">{{page - firstHalf.length + i}}</a>

    </li>
    <li class="page-item active">
      <a class="page-link" [routerLink]="['/inbox', page]">{{page}}</a>
    </li>
    <li class="page-item" 
    *ngFor="let item of secondHalf; let i = index">
    <a class="page-link" [routerLink]="['/inbox', page + i +1]">{{page + i +1}}</a>

  </li>
    <li class="page-item">
      <a class="page-link" [routerLink]="['/inbox', page + 1]">Next</a>
    </li>
  </ng-template>





</ul>