<div class="grid-container">
  <h1 class="mat-h1">Latest jobs for IT professionals</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Frontend roles added in the last 24 hours
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>work_outline</mat-icon>
              <a href="#">
                C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
              </a>

            </mat-list-item>
            <mat-list-item>

              <mat-icon mat-list-icon>work</mat-icon>
              <a href="#">
                Senior Full Stack Developer - TypeScript/Angular (5589)
              </a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>work</mat-icon>
              <a href="#">
                Senior Java/J2EE Developer (German Speaking) 6-12 months Contract: 700 CHF Per Day
              </a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>work_outline</mat-icon>
              <a href="#">
                C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
              </a>

            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>work_outline</mat-icon>
              <a href="#">
                C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
              </a>

            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Title
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Title
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Title
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
