<div class="row">
  <div class="col-xs-10">
    <hr />
    <app-job-new *ngIf="addnewJob" (newJobCreated)="addToJobList($event);addnewJob = false;"></app-job-new>

    <a href="javascript:void(0)" class="btn btn-info" (click)="addnewJob = true" *ngIf="!addnewJob">Add a new job</a>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <app-job-list [jobs]="jobs" (jobWasSelected)="selectedJob = $event"></app-job-list>
  </div>
  <div class="col-md-5">
    <app-job-detail *ngIf="selectedJob; else infoText" [job]="selectedJob" (newJobApplication)="addJobApplication($event)"
                    (close)="selectedJob = null"></app-job-detail>
    <ng-template #infoText>
      <p> Please select a job</p>
    </ng-template>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    <app-job-application-list [applications]="jobApplications"></app-job-application-list>
  </div>
</div>
