
<div ui-view></div>
<!-- header -->
<div class="wrapper bg-light lter b-b top-actions">
    <a class="btn btn-sm btn-default w-xxs m-r-sm" tooltip="Back to Inbox" href="javascript:history.back();"><i class="fa fa-long-arrow-left"></i></a>

</div>
<!-- / header -->
<div class="wrapper b-b">
    <h2 class="font-thin m-n">About us</h2>
</div>
<div class="wrapper b-b">
    <address>
        <blockquote>
            This web application is in Beta at the moment. Please bear with us until we fix all the bugs and add more features, although not too many as we try to keep it as simple as possible and easy to use.<br />
        </blockquote>
        <div class="wrapper">
            <strong> <a href="mailto:hello@angjobs.com">hello@angjobs.com</a><br /></strong>
            Victor Antofica
            <br />
            CEO
        </div>

    </address>
    <address>
        <blockquote>
            Subscribe here to get notified when we get out of Beta:
            <a href="http://landing.angjobs.com/" target="_blank">landing.angjobs.com</a>
        </blockquote>

    </address>
    <h3>About Resumes</h3>
    <p>
        Resumes are just a tool to decide whether or not to start a conversation.
        When hiring, you are not really concerned about letting a good candidate go. There will always be others. It is far more dangerous to let a poor candidate in. And poor candidates tend to be poor due to cultural and subject matter issues more than basic technical chops.
        I'm not making any hiring decisions at this point - just weeding a huge list of names down to a reasonable number to actually call. So I'm not judging people's skill levels yet -- I'm looking for something in their history that tells me they are bringing more to the table than knowing how to code. I don't even have preconceived notions of what that might be - just something that sparks me to think their experience has something in common with what we do. We'll weed out the weak technical candidates in an initial call, then continue with the people who are both strong technically and a good fit for the work and the culture.
        So the whole premise that I am not getting it "right" when judging a person skill based on their resume is missing the point. It isn't that I don't care... but I know reading a resume won't give me an accurate answer, so it isn't even a piece of the decision making criteria yet.<br />
        <i>source(<a href="https://news.ycombinator.com/item?id=8693462" target="_blank">https://news.ycombinator.com/item?id=8693462</a>)</i>
    </p>

    <hr />

    <p>
        <small>This job board is an open source implementation of <a href="https://github.com/victorantos/AngJobs" target="_blank" title="open source job board" style="text-decoration:underline;">AngJobs</a>, soon to be hosted on GitHub.</small>
    </p>
    <p>
        <small>Service provided by Victorantos Limited, Reg. Nr 08341039, England, UK</small>
    </p>

</div>