<!-- header -->
<div class="wrapper bg-light lter b-b top-actions">
    <a class="btn btn-sm btn-default w-xxs m-r-sm" ng-hide="$state.is('employer')" tooltip="Back" href="javascript:history.back();"><i class="fa fa-long-arrow-left"></i></a>
    <h2 class="font-thin m-n hidden-xs" ng-show="$state.is('employer')">Recent job applications</h2>
</div>
<!-- / header -->

<div ui-view="dashboardTitle">

</div>
<div ui-view>
    <div class="wrapper" ng-hide="todaysJobApplications!= null && todaysJobApplications.length > 0">
        <span ng-show="todaysJobApplications == null">Loading...</span>
        <span ng-show="todaysJobApplications!= null && todaysJobApplications.length == 0">
            Your job applications list is empty.
            Please <a ui-sref="postjob" style="text-decoration:underline;">post more jobs</a> and check back later. Thank you!
        </span>
    </div>
    <ul class="list-group list-group-lg no-radius">
        <li class="list-group-item clearfix " ng-repeat="job in todaysJobApplications">
            <div class="pull-right text-sm text-muted">
                <span class="hidden-xs">{{job.salaryMin ? '£'+job.salaryMin : ''}} {{job.salaryType ? 'per '+job.salaryType : ''}}</span>
            </div>
            <div class="clear short-desc">
                <div>
                    <a class="text-md" href="/#!/jobapplication/{{job.id}}" style="text-decoration:underline;">{{job.applicant}}</a>
                    applied for:
                    <a class="text-md" href="/#!/jobdetails/{{job.jobPostId}}">{{job.jobTitle}}</a>
                    <span class="label bg-light">{{job.salaryNote}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>

