<ul class="nav nav-pills nav-sm list-inline">
    <li ng-class="{ active: $state.includes('employer.applications')}">
        <a href="#!/employer/applications">
            Applications
        </a>
    </li>
    <li ng-class="{ active: $state.includes('employer.jobs')}">
        <a href="#!/employer/jobs">
            Jobs
        </a>
    </li>
    <li ng-class="{ active: $state.includes('employer.resumes')}">
        <a href="#!/employer/resumes">
            Resumes
        </a>
    </li>
    @*<li ng-class="{ active: $state.includes('employer.candidates')}">
        <a href="#!/employer/candidates">
            Candidates
        </a>
    </li>*@
   
</ul>