<div class="wrapper bg-light lter b-b top-actions ">
    <div class="btn-toolbar">
        <h2 class="font-thin m-n">
            Inbox
        </h2>
    </div>
</div>
<div class="jobs-list" ui-view>
    <ul class="list-group list-group-lg">
        <li class="list-group-item" ng-repeat="j in filteredItems = (list | filter : searchBy)">
            <a class="text-md" href="/#/jobdetails/{{j.id}}">{{j.jobTitle}}</a>

        </li>
    </ul>
</div>