
<div class="row">
    <div class="col-md-6">
        <div class="form-group" ng-show="stackexchangeUserProfile.link">
            <div class="col-md-2"><label for="publicProfileUrl" class="control-label">Profile:</label></div>

            <div class="col-md-10"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="stackexchangeUserProfile.link"></div>
        </div>
        <div class="form-group" ng-show="stackexchangeUserProfile.website_url">
            <div class="col-md-2">
                <label for="publicProfileUrl" class="control-label">Website:</label>
            </div>
            <div class="col-md-10"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="stackexchangeUserProfile.website_url"></div>
        </div>
        <div class="form-group" ng-show="stackexchangeUserProfile.reputation">
            <div class="col-md-2">
                <label for="publicProfileUrl" class="control-label">Reputation:</label>
            </div>
            <div class="col-md-10"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="stackexchangeUserProfile.reputation"></div>
        </div>
    </div>
    <div class="col-md-6">
        <a ng-href="{{stackexchangeUserProfile.link}}" target="_blank">
            <img ng-src="http://stackoverflow.com/users/flair/{{stackexchangeUserProfile.user_id}}.png" width="208" height="58" alt="profile for wordsearch at Stack Apps, Q&amp;A for apps, scripts, and development with the Stack Exchange API" title="profile for wordsearch at Stack Apps, Q&amp;A for apps, scripts, and development with the Stack Exchange API">
        </a>
    </div>
</div>