
<div class="form-group" ng-show="githubUserProfile.html_url">
    <label for="publicProfileUrl" class=" col-md-1 control-label">Github:</label>
    <div class="col-md-6"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="githubUserProfile.html_url"></div>
</div>
<div class="form-group" ng-show="githubUserProfile.blog">
    <label for="publicProfileUrl" class=" col-md-1 control-label">Blog:</label>
    <div class="col-md-6"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="githubUserProfile.blog"></div>
</div>
<div class="form-group" ng-show="githubUserProfile.location">
    <label for="publicProfileUrl" class=" col-md-1 control-label">Location:</label>
    <div class="col-md-6"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="githubUserProfile.location"></div>
</div>

