<!-- header -->
<div class="wrapper bg-light lter b-b top-actions">
    <a class="btn btn-sm btn-default w-xxs m-r-sm" tooltip="Back" href="javascript:history.back();"><i class="fa fa-long-arrow-left"></i></a>

</div>
<!-- / header -->
<div class="job-application">
    <div class="wrapper b-b">
        <h3 class="font-thin m-n">{{ja.email}}</h3>
    </div>
    <div class="wrapper b-b">

        <span class="thumbnail thumb-sm m-r-sm" style="font-size:30px;">Job</span>
        <span>
            {{ja.idealJobTitle}}
        </span>
        <span> {{ja.idealSalary}} {{ja.idealLocation}}</span>
        <div class="pull-right text-sm text-muted">
            Applied <span am-time-ago="ja.dateCreated"></span>
        </div>
    </div>
    <div class="wrapper" ng-bind-html="ja.message">
    </div>
    <div class="wrapper" ng-show="ja.sourceReference">
        Source: <a href="{{ja.sourceReference}}" target="_blank" title="Imported Angular.Js job source">{{ja.sourceReference}}</a>
    </div>

</div>