<div class="form-group" ng-show="userProfile.publicProfileUrl">
    <label for="publicProfileUrl" class=" col-md-1 control-label">Profile:</label>
    <div class="col-md-6"><input id="publicProfileUrl" class="input input-sm form-control ng-pristine ng-valid" type="text" ng-model="userProfile.publicProfileUrl"></div>
</div>
