<div ui-view></div>

<div class="wrapper" ng-hide="jobsList!= null && jobsList.length > 0">
    <span ng-show="jobsList == null">Loading...</span>
    <span ng-show="jobsList!= null && jobsList.length == 0">
        Your jobs list is empty.
        Please <a ui-sref="postjob" style="text-decoration:underline;">post a job</a>. Thank you!
    </span>
</div>

<ul class="list-group list-group-lg no-radius">
    <li class="list-group-item clearfix " ng-repeat="job in filteredItems = (jobsList | filter : searchBy)">
        <a class="hidden-xs pull-left thumb" href="#!/jobdetails/{{job.id}}">
            <span style="font-size:30px;" title="{{(job.recruiterName ? job.recruiterName: 'Job')  + (job.isHot ? ' - [H]ot angularjs role':   '') }}">{{job.recruiterName == "StackOverflow" ? 'S': (job.isHot ? 'H':   'J')}}</span>
        </a>
        <div class="pull-right text-sm text-muted">
            <span class="hidden-xs">{{job.salaryMin ? '£'+job.salaryMin : ''}} {{job.salaryType ? 'per '+job.salaryType : ''}}</span>
        </div>
        <div class="clear short-desc">
            <div>
                <span class="label bg-light">{{job.salaryNote}}</span>
                <div job-line job-id="{{job.id}}" job-title="{{job.jobTitle}}" class="job-line"></div>
            </div>
            <a class="text-2-l job-desc" href="#!/jobdetails/{{job.id}}">
                <span ng-bind-html="job.shortDescription | highlight: searchBy"></span> 
            </a>
        </div>
    </li>
</ul>
<div class="wrapper" ng-hide="filteredItems.length || jobsList.length==0">No jobs found.</div>

