<!-- header -->
<div class="wrapper bg-light lter b-b">
    <div class="btn-group m-r-sm">
        <a href="javascript:void(0);" class="btn btn-sm btn-default w-xxs w-auto-xs " title="New job post" ng-click="jobPost= {}"><i class="fa fa-file-text"></i></a>
        @*<a class="btn btn-sm btn-default w-xxs w-auto-xs " tooltip="Discard" href="#!/app/mail/inbox/"><i class="fa fa-trash-o"></i></a>*@
    </div>
</div>
<!-- / header -->
<div class="wrapper">
    <h4 class="font-thin">Job details:</h4>
    <form name="newMail" class="form-horizontal m-t-lg " ng-submit="saveJob()">
        <div class="form-group">
            <label class="col-md-2 control-label">Type:</label>
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobType == 'fulltime' ? 'active' : ''" ng-click="jobPost.jobType = 'fulltime'">full-time</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobType == 'contract' ? 'active' : ''" ng-click="jobPost.jobType = 'contract'">contract</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobType == 'parttime' ? 'active' : ''" ng-click="jobPost.jobType = 'parttime'">part-time</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobType == 'freelance' ? 'active' : ''" ng-click="jobPost.jobType = 'freelance'">freelance</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Job title:</label>
            <div class="col-md-9">
                <input type="text" class="form-control ng-pristine ng-valid" ng-model="jobPost.jobTitle" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="white-space:nowrap;">Job description:</label>
            <div class="col-md-9">
                <div style="min-height:300px;" ta-toolbar="[['h3','h4','h5'],['bold','italics'], ['ul','indent','outdent']]" text-angular ng-model="jobPost.htmlContent" name="jobdescription-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                <p style="font-weight:300;">It's not necessary to mention any email addresses in the job ad. All the applications will be automatically e-mailed to you.</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="white-space:nowrap;">Job location:</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="jobPost.jobLocation">
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobLocation == 'Remote' ? 'active' : ''" ng-click="jobPost.jobLocation = 'Remote'">Remote</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobLocation == 'London' ? 'active' : ''" ng-click="jobPost.jobLocation = 'London'">London</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobLocation == 'US' ? 'active' : ''" ng-click="jobPost.jobLocation = 'US'">US</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.jobLocation == 'Europe' ? 'active' : ''" ng-click="jobPost.jobLocation = 'Europe'">Europe</button>
                </div>
                <p><i style="font-weight:300;">(optional)</i></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Salary:</label>
            <div class="col-md-2">
                <input type="number" class="form-control" ng-model="jobPost.salaryMin" min="1" max="9000000">
                <p><i style="font-weight:300;">(min)</i></p>
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" ng-model="jobPost.salaryMax" min="1" max="9000000">
                <p><i style="font-weight:300;">(max)</i></p>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.currency == 'pound' ? 'active' : ''" ng-click="jobPost.currency = 'pound'"><i class="fa fa-gbp"></i></button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.currency == 'euro' ? 'active' : ''" ng-click="jobPost.currency = 'euro'"><i class="fa fa-euro"></i></button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.currency == 'usd' ? 'active' : ''" ng-click="jobPost.currency = 'usd'"><i class="fa fa-usd"></i></button>

                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.salaryType == 'year' ? 'active' : ''" ng-click="jobPost.salaryType = 'year'">per year</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.salaryType == 'month' ? 'active' : ''" ng-click="jobPost.salaryType = 'month'">month</button>
                    <button type="button" class="btn btn-sm btn-default" ng-class="jobPost.salaryType == 'day' ? 'active' : ''" ng-click="jobPost.salaryType = 'day'">day</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="white-space:nowrap;">Hiring company:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="jobPost.hiringCompany" placeholder="company name">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="jobPost.hiringCompanyWebsite" placeholder="website (optional)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Expires on:</label>
            <div class="col-md-2">
                <input type="text" class="form-control" ng-model="jobPost.expiresOn">
            </div>
            <div class="col-md-6">
                <p>
                    <i style="font-weight:300;">
                        (yyyy/MM/dd or just month and day, ex: 11/29) If not specified, your ad will expire after 3 months.
                    </i>
                </p>
            </div>
        </div>
        <div class="form-group">

            <label class="col-md-2 control-label ">
                Your email:<br />
                <i style="font-weight:300; white-space:nowrap;">(not published)</i>
            </label>

            <div class="col-md-6">
                <input type="text" class="form-control  pull-right" ng-model="jobPost.jobEmail">
                <p style="font-weight:300;">Online applications will be sent to this address. Make sure it's correct.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-danger w-xs" type="submit">Post job</button>
            </div>
        </div>
    </form>
</div>





