
<div ui-view></div>
<!-- header -->
<div class="wrapper bg-light lter b-b top-actions">
    <h2 class="font-thin m-n">Our services <small>En-masse application for jobs</small></h2>
</div>
<!-- / header -->

<div class="wrapper ">
    <h4>I can help you apply for hundreds of jobs from just £3.99 per month</h4>
    <p>

        I believe you are a great frontend developer and I would like to ask you a quick question if I may.

    </p>

    <ul>
        <li>Would you be interested in a AngularJs dev position in London, UK or perhaps abroad(Europe/US)?</li>
        <li>
            I would like to help you. I've built this job board - AngJobs, focused around AngularJs, and I have gathered 1000+ recruitment agencies contacts since our launch, last year.

        </li>

    </ul>

    <p>
        Now I am in a position of being able to send hundreds of job applications to those recruiters. Hopefully I could save you some time and help you find a great job.
    </p>
    <p><b>I can offer you two options:</b></p>

    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-gift" style="color:forestgreen"></span> <a class="btn-link" style="text-decoration:underline" href="https://angjobs.com/#!/pay/subscription">Up to 100 job applications for you each month for just £3.99/mo (subscription)</a></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-gift" style="color:forestgreen"></span> <a class="btn-link" style="text-decoration:underline" href="https://angjobs.com/#!/pay/one-off">Or up to 1000 job applications in 7 to 14 days for just £19 (fixed price)</a></li>
    </ul>
    <p>
        If you are not yet into AngularJs please take a moment and look at this <a href="http://www.google.com/trends/explore#q=angularJs" class="glyphicon glyphicon-link" target="_blank">Google Trends chart</a> it might help you realize where is frontend development heading to.

        <br />
        Thank you and have a nice day!<br />
        <a href="https://twitter.com/victorantos" target="_blank" title="Twitter account">@@Victor</a> 
    </p>
</div>