<div class="wrapper">
    <h3 class="b-b">Sign In</h3>

    <form ng-submit="signIn()" >

        <div class="col-md-3">
            <div class="row"><input class="form-control" type="text" ng-model="username" placeholder="Username" /></div>
            <div class="row"><input class="form-control" type="password" ng-model="password" placeholder="Password" /></div>
            <div class="row"><input class="btn btn-primary" type="submit" value="Sign In" /></div>
        </div>

    </form>
    <div class="row"><div class="row alert alert-danger" ng-show="showAlert">{{message}}</div></div>
</div>