
<div ui-view></div>
<!-- header -->
<div class="wrapper bg-light lter b-b top-actions">
</div>
<!-- / header -->
<div class="wrapper b-b">
    <h2 class="font-thin m-n">Testimonials</h2>
</div>
<div class="wrapper b-b">

    <h3>What do you think about AngJobs?</h3>
    <ul class="list-group" >
        <li class="list-group-item list-group-item-text">
            <blockquote>
                Really like how it works. Extremely easy to use, straight forward, and as a job board being able to attach LinkedIn/CV/etc right on the job page is a what you want in something like this. Great job.
                <br />
                <small><cite>by Redditor FlatTextOnAScreen</cite></small>
            </blockquote>

        </li>
        <li class="list-group-item ">
            <small>
                Leave your feedback on <a href="https://www.reddit.com/r/AngJobs" target="_blank">Reddit.com/r/AngJobs</a>, and we'll include it here.
                <br />
                Thank you for visiting us!
            </small>
        </li>
    </ul>
   
</div>