
<md-sidenav-container>

    <md-sidenav #sidenav mode="side" class="app-sidenav">
        Menu
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        Angular Jobs
        <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
        <router-outlet>
          
        </router-outlet>
    </div>
</md-sidenav-container>

