
<md-sidenav-container [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="side" class="app-sidenav">
        Sidenav
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        Angular Material2 Example App

        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </md-toolbar>

    <div class="app-content">
        <md-card>
           <jobslist></jobslist>
        </md-card>
        <router-outlet>

            <md-list role="list" aria-hidden="false">

                <md-divider></md-divider>

                <div class="md-no-sticky md-subheader _md" role="heading" aria-level="2">  <div class="md-subheader-inner">    <div class="md-subheader-content"><span class="ng-scope">Secondary Buttons</span></div>  </div></div>
                <md-list-item class="secondary-button-padding md-no-proxy md-with-secondary _md" role="listitem">
                    <p>Clicking the button to the right will fire the secondary action</p>

                    <div class="md-secondary-container"><button class="md-secondary md-button md-ink-ripple" type="button" ng-transclude="" ng-click="doSecondaryAction($event)"><span class="ng-scope">More Info</span></button></div>
                </md-list-item>
            </md-list>

        </router-outlet>
        <md-card>
            <button md-button>FLAT</button>
            <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
            <button md-raised-button color="primary">PRIMARY RAISED</button>
            <button md-raised-button color="accent">ACCENT RAISED</button>
        </md-card>

        <md-card>
            <md-checkbox>Unchecked</md-checkbox>
            <md-checkbox [checked]="true">Checked</md-checkbox>
            <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
            <md-checkbox [disabled]="true">Disabled</md-checkbox>
        </md-card>

        <md-card>
            <md-radio-button name="symbol">Alpha</md-radio-button>
            <md-radio-button name="symbol">Beta</md-radio-button>
            <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
        </md-card>

        <md-card class="app-input-section">
            <md-input-container>
                <input mdInput placeholder="First name" />

                <input mdInput #nickname placeholder="Nickname" maxlength="50" />

            </md-input-container>
        </md-card>

        <md-card>
            <md-list class="app-list">
                <md-list-item *ngFor="let food of foods">
                    <h3 md-line>{{food.name}}</h3>
                    <p md-line class="demo-secondary-text">{{food.rating}}</p>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card>
            <md-spinner class="app-spinner"></md-spinner>
            <md-spinner color="accent" class="app-spinner"></md-spinner>
        </md-card>

        <md-card>
            <label>
                Indeterminate progress-bar
                <md-progress-bar class="app-progress"
                                 mode="indeterminate"
                                 aria-label="Indeterminate progress-bar example"></md-progress-bar>
            </label>

            <label>
                Determinate progress bar - {{progress}}%
                <md-progress-bar class="app-progress"
                                 color="accent"
                                 mode="determinate"
                                 [value]="progress"
                                 aria-label="Determinate progress-bar example"></md-progress-bar>
            </label>
        </md-card>

        <md-card>
            <md-tab-group>
                <md-tab label="Earth">
                    <p>EARTH</p>
                </md-tab>
                <md-tab label="Fire">
                    <p>FIRE</p>
                </md-tab>
            </md-tab-group>
        </md-card>

        <md-card>
            <md-icon>build</md-icon>
        </md-card>

        <md-card>
            <button md-button [md-menu-trigger-for]="menu">
                MENU
            </button>
        </md-card>

        <md-menu #menu="mdMenu">
            <button md-menu-item>Lemon</button>
            <button md-menu-item>Lime</button>
            <button md-menu-item>Banana</button>
        </md-menu>

        <md-card>
            <p>Last dialog result: {{lastDialogResult}}</p>
            <button md-raised-button (click)="openDialog()">DIALOG</button>
            <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
        </md-card>

    </div>

</md-sidenav-container>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
    <button md-fab><md-icon>check circle</md-icon></button>
</span>

