
<md-sidenav-container>

    <md-sidenav #sidenav mode="side" class="app-sidenav">

        <button md-button [mdMenuTriggerFor]="menu">MY JOBS</button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>List of job applications</button>
        </md-menu>
        <hr />
        <button md-button [mdMenuTriggerFor]="menu2">MY JOB POSTS</button>
        <md-menu #menu2="mdMenu">
            <button md-menu-item>New Job</button>
            <button md-menu-item>List of Jobs</button>
        </md-menu>
        <hr />
        <button md-button [mdMenuTriggerFor]="menu3">MY RESUME</button>
        <md-menu #menu3="mdMenu">
            <button md-menu-item>Update my CV</button>
            <button md-menu-item>Upload new CV</button>
        </md-menu>
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        Angular Jobs
        <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
        <router-outlet>

        </router-outlet>
    </div>
</md-sidenav-container>

