<h2>Senior Software developer .NET C#</h2>
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Frontend roles added in the last 24 hours
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">

    <mat-list>
      <mat-list-item>
        <a href="#">
          C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
        </a>

      </mat-list-item>
      <mat-list-item>

        <a href="#">
          Senior Full Stack Developer - TypeScript/Angular (5589)
        </a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">
          Senior Java/J2EE Developer (German Speaking) 6-12 months Contract: 700 CHF Per Day
        </a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">
          C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
        </a>

      </mat-list-item>
      <mat-list-item>
        <a href="#">
          C# .NET Developer (12 Months Contract) 600-650 CHF Per Day: Leading Multinational Bank
        </a>

      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<button mat-btn>Back</button>
<button mat-btn >Apply</button>
<a mat-btn>Send to email</a>
