
<h2>Home</h2>

<p>
    Welcome to the AngJobs.Android template.  The goal of this template is to create a project which supports .NET Web Api, AngularJS, Authentication, Authorization, and simple CRUD operations against web services.  This template shows one possible way to setup a .NET project which uses AngularJS.  There are other ways to setup the project as well, but this setup has worked for several of my projects.
</p>
<p>
    The AngJobs.Android template utilizes the .NET Web Api and AngularJS.  the Web Api is used to expose services to potential clients, while angular is used for all frontend operations.  You will notice there are several other additions, such as jQuery and Bootstrap.  jQuery was added to support Bootstrap.  There are other bootstrap options, which play nice with Angular; but I choose regular bootstrap.
</p>
<p>
    A change has been made to WebApiConfig.cs, which changes all the routing for services.  By default, services are identified by the parameters they accept.  I modified this to identity services based on their name and their parameters.
</p>
<p>
    AppController.cs is used to give partial views upon request.  Such as App/Home will give the home page, and it will return the home.cshtml.  home.cshtml is a partial page, and it will be inserted in the ngView when returned from the server.
</p>
<p>
    Depending on your database setup, you may want to change your database connection string.  The default configuration for this template is this:
    <br/>
    name="applicationDB" providername="System.Data.SqlClient" connectionstring="Server=.;Database=applicationDB;Integrated Security=True"
</p>

<strong>
    Most issues reported by users, are related to the database connection string.  This template was created with MS Sql 2014 Developer Edition.  It should be a simple matter for any developer to create a new connection string and replace the default.  The application uses a code first approach, and should create the database when the first transaction is attempted against the database.  If the database is not created, verify that the application has permissions for your particular database and your unique setup.
</strong>

<h3>Contact Info</h3>
<p>Questions or suggestions can be emailed to contact@dahlnfarnes.com</p>

<h3>Change Log</h3>

<h4>Update V2.2 on 12.3.2014</h4>
<p>Published changes include:</p>
<ul>
    <li>Updated to the latest non-beta version of the angular (v1.3.5).</li>
    <li>Updated angular interceptors to work with latest version of angular.</li>
    <li>Added angular decorator to hide/ignore $compile:tpload errors if a page is requested for which the user does not have permission.</li>
</ul>

<h4>Update V1.9 on 10.9.2014</h4>
<p>Published changes include:</p>
<ul>
    <li>Updated to the latest non-beta version of the angular (v1.2.26).</li>
    <li>Updated all server libraries to the latest versions.</li>
    <li>New ModelErrorChecker static class for validating the status of service model.</li>
    <li>Redesigned the Registration service to return more accurate messages.</li>
    <li>Enabled Bundle optimizations.  Disable this to debug javascript in the browser.  Configure this setting in BundleConfig.cs.</li>
    <li>Session length (token expiration) set to 2 hours.  Configure this in Startup.Auth.cs and RefreshTokenProver.cs</li>
    <li><strong>Updated DataModels.cs.  If you are using the latest version of this application, with a database from an older version of this template, you can either delete the old database, or use the Data Migrations tool to update the database to match the new model. </strong></li>
</ul>


<h4>Update V1.6 on 7.7.2014</h4>
<p>Published changes include:</p>
<ul>
    <li>Added RefreshTokenProvider, used to manage refreshing the access token upon request. (Server Side)</li>
    <li>Added session refresh calls to request the session be extended when navigating to new page.</li>
    <li>Added session ending prompt and session ended prompt</li>
    <li>Added auto logout when session ends.  Redirects to sign in page.</li>
    <li>Cleaned up a few styling annoyances</li>
</ul>

<h4>Update V1.2 on 6.16.2014</h4>
<p>Published changes include:</p>
<ul>
    <li>Added support for other versions of Visual Studio 2013</li>    
</ul>




