<div class="wrapper top-actions">
    <div class="btn-toolbar">
        <h2>
            About
        </h2>
    </div>
</div>

<div class="jobs-list" ui-view>
    <h4>About Resumes</h4>
    <p>
        Resumes are just a tool to decide whether or not to start a conversation. When hiring, you are not really concerned about letting a good candidate go. There will always be others. It is far more dangerous to let a poor candidate in. And poor candidates tend to be poor due to cultural and subject matter issues more than basic technical chops. I'm not making any hiring decisions at this point - just weeding a huge list of names down to a reasonable number to actually call. So I'm not judging people's skill levels yet -- I'm looking for something in their history that tells me they are bringing more to the table than knowing how to code. I don't even have preconceived notions of what that might be - just something that sparks me to think their experience has something in common with what we do. We'll weed out the weak technical candidates in an initial call, then continue with the people who are both strong technically and a good fit for the work and the culture. So the whole premise that I am not getting it "right" when judging a person skill based on their resume is missing the point. It isn't that I don't care... but I know reading a resume won't give me an accurate answer, so it isn't even a piece of the decision making criteria yet.
        source(https://news.ycombinator.com/item?id=8693462)
    </p>
   
</div>