<div class="wrapper top-actions">
    <div class="btn-toolbar">
        <div>
         Home page
        </div>
    </div>
</div>

<div class="wrapper jobs-list" ui-view>
    <ul>
        <li ng-repeat="j in list">
            {{j.Title}}
        </li>
    </ul>
</div>