<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <label for="toContactName" class=" col-md-1 control-label">To:</label>
      <div class="col-md-7">
        <input id="toContactName" class="input input-sm form-control" type="text" disabled="">
      </div>
      <div class="form-group">
        <label for="email" class=" col-md-1 control-label">From:</label>
        <div class="col-md-7">
          <input class="input input-sm form-control" type="text" id="email" placeholder="your email address" required="">
          <div ng-controller="loginCtrl" class="add-linkedin ng-scope">
            <a class="btn-link label label-info " href="javascript:void(0);">+ Add LinkedIn</a>

          </div>
          <div ng-controller="loginCtrl" class="add-linkedin ng-scope">
            <a class="btn-link label label-default " href="javascript:void(0);">+ Add GitHub</a>

          </div>

          <div ng-controller="loginCtrl" class="add-linkedin ng-scope">
            <a class="btn-link label label-stackexchange " href="javascript:void(0);">+ Add StackExchange</a>

          </div>

          <div class="add-cv">
            +<a class="button btn-link" href="javascript:void(0);">Attach CV</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="attachedcv">
          CV:
        </label>
        <div class="col-md-6">
          <pre></pre>
        </div>
      </div>

      <section class=" form-control" style="height:auto; min-height:150px;" id="editableProfile" contenteditable="true"></section>
      <div class="panel-footer">
        <button class="btn btn-link pull-right" type="button" ng-click="apply=!apply"><i class="fa fa-trash-o"></i></button>
        <button class="btn btn-info w-xs font-bold" ng-show="!applying" type="submit" ng-click="applying=true;">Apply</button>
        <button class="btn btn-default w-xs font-bold ng-hide" ng-show="applying">Applying...</button>
        <span ng-show="jobApplicationErrors.length" class="label label-danger ng-binding ng-hide"></span>
      </div>
    </form>
  </div>
</div>



