<article class="post column">
  <header class="page-head">
    <h1>{{ page.title }}</h1>
    <p class="wall-label">
      <time datetime="{{ page.date }}">{{ page.dateFormatted }}</time>
      {{#if page.tagLinks}}<span class="tags">{{#each page.tagLinks as tag}}<a class="tag" href="{{ tag.url }}">{{ tag.name }}</a>{{/each}}</span>{{/if}}
    </p>
  </header>
  {{#if page.cover}}<img class="post-cover" src="{{ page.cover }}" alt="" loading="lazy" decoding="async">
  {{/if}}<div class="prose">
{{{ page.content }}}
  </div>
</article>
