@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Angjobs.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    Layout = "~/Areas/HelpPage/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = "AngJobs - Api";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
<div id="body" class="wrapper help-page ">
    <section class="featured">
        <div class="content-wrapper">
            <h2>AngJobs API</h2>
            <p>
                Use the Api below to programmatically post or apply for jobs.<br />
                For now use your email address as an <strong>Api key</strong> when calling the Api. 
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>


