<div class="row">
  <div class="col-sm-12">
    <h1>
      Add new job
    </h1>
    <form (ngSubmit)="onAddJob(f)" #f="ngForm">
      <div class="form-group">
        <label for="jobTitle"></label>
        <input name="title" ngModel type="text" class="form-control" />
      </div>
      <div class="form-group">
        <app-editarea name="description" #ed ngModel> </app-editarea>
      </div>
      <button class="btn btn-primary" type="submit">Save and Publish</button>
      <button type="button" class="btn btn-light pull-right">Cancel</button>
    </form>
  </div>
</div>
