 
  <div class=" panel panel-default">
	<div class="panel-body">
		<div class="panel-info">
			<p><strong>Tel: {{id}}</strong></p>
			<p>
				{{title}}<br />
				{{description}}
			</p>
		</div>
		<div class="panel-rating">
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<p>Rate this job!</p>
		</div>
		<div class="panel-more1">
			<img src="http://lorempixel.com/100/100" />
			<br /><span>Caption</span>
		</div>
		<div class="panel-more1">
			<img src="http://lorempixel.com/100/100" />
			<br /><span>Caption</span>
		</div>

	</div>
</div>