<div class="container" *ngIf="jobpost">
	<div class="page-header">
		<h2>{{jobpost.title}}</h2></div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<button class="btn btn-success">Apply Now</button>
			<span>Location: London £350/day Star asap apply via XYX Recruitment</span>
		</div>
		<div class="panel-body">
			<p>Hi Recruiter<br> I would like to apply for this role.

			</p>
			<p>
				<a class="btn-link" href="#">Attach CV</a>
			</p>
			<button>Send</button>

		</div>
		<div class="panel-body">
			<p>Here is an example of the runners that you will see on the trails in our area.</p>


			<div *ngIf="jobpost">
				<h2>{{jobpost.title}}</h2>
				<div>
					<label>id: </label>{{jobpost.id}}</div>
			</div>

			Nothing here
		</div>
		<div class="panel-heading">Location: London £350/day Star asap apply via XYX Recruitment

			<button class="btn btn-success">Apply Now</button>
		</div>

	</div>
</div>