 
<h2>Contract</h2>
   <div  *ngFor="#item of contracts"  >
                        {{item}}
                      <job-item [title]='item["mytitle"]' [job-id]='item["myid"]'></job-item> 
                    </div>
                    
                    
                        <p class="text-muted">Contract opportunities for IT Consultants.</p>
                        <ul class="list-group">
                            <li >
                                <div class=" panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-info">
                                            <p><strong>Tel: 011-345-898</strong></p>
                                            <p>
                                                9182 Lorem Ipsum<br />
                                                consectetur adipiscing elit.<br />
                                                Nullam vel lacus felis.
                                            </p>
                                        </div>
                                        <div class="panel-rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <p>Rate this job!</p>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>
                                        <div class="panel-more1">
                                            <img src="http://lorempixel.com/100/100" />
                                            <br /><span>Caption</span>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>