<div class="row">
    <div class="col-sm-6">
       <div class="widget"> 
            <h2>Contract</h2>
            <p class="text-muted">Contract opportunities for IT Consultants.</p>
            <ul class="cards list-group">
             
                <li class="list-group-item"  *ngFor="#item of homepageJobs | jobFilter: contractFilter">
                    <job-item [title]='item["title"]' [job-id]='item["id"]' [description]='item["description"]'></job-item>
                          
                </li>
              
                <li class="more" style="display:none" >
                    <a href="#">Show More</a>
                </li>
            </ul>
            </div>
    </div>
    <div class="widget col-sm-6">
        <h2>Permanent</h2>
        <p class="text-muted">Permanent employment opportunities.</p>
        <ul class="cards list-group">
            <li class="list-group-item"  *ngFor="#item of homepageJobs | jobFilter: permanentFilter">
                <job-item [title]='item["title"]' [job-id]='item["id"]' [description]='item["description"]'></job-item>
            </li>
        </ul>
    </div>
</div>