
<div class="container-fluid" ng-cloak>

    <header class="row site-header">
        <nav class="col-md-10 col-md-offset-1">
            <div class="row">
                <h1>AngJobs.Android Template</h1>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <a href="#/home">Home</a>
                    </li>
                    <li>
                        <a href="#/todomanager">Todo Manager</a>
                    </li>
                    <li ng-show="loggedIn">
                        <a href="" ng-click="logout()">{{username}} | Sign Out</a>
                    </li>
                    <li ng-hide="loggedIn">
                        <a href="#/signin">Sign In</a>
                    </li>
                    <li ng-hide="loggedIn">
                        <a href="#/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1" ng-view>
        </div>
    </div>

    <div class="row site-footer">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                <div class="text-right">
                    Your Footer Here
                </div>
            </footer>
        </div>
    </div>
</div>
