<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AngJobs</title>
        <base href="/" />
       
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        @*<link href="../../node_modules/@@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">*@
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
