<div>
    <ul class="nav nav-pills nav-sm list-inline">
        <li ng-class="{ active: $state.is('jobs.jobType') && $stateParams.jobType=='inbox'}">
            <a href="/#/inbox">
                Inbox
            </a>
        </li>
        <li ng-class="activePath == '/permanent' || activePath.indexOf('/permanent')>=0 ? 'active': ''">
            <a href="/#/permanent">
                Permanent
            </a>
        </li>
        <li ng-class="activePath == '/contracts' || activePath.indexOf('/contracts')>=0 ? 'active': ''">
            <a href="/#/contracts">
                Contracts
            </a>
        </li>
    </ul>
</div>


