<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <app-nav-menu (featureSelected)="onNavigate($event)">
      </app-nav-menu>
    </div>
    <div class="col-sm-9 body-content container">
      <app-header></app-header>
        <div class="row">
          <div class="col-md-12">
            <app-jobs *ngIf="loadedFeature === 'job'"></app-jobs>
            <app-recommendation-list *ngIf="loadedFeature === 'recommendation-list'"></app-recommendation-list>
          </div>
        </div>
    </div>
  </div>
</div>
